.index-body {
  &__header {
    height: 55px;
    box-shadow: 0 0 8px gray;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.97);
    .head {
      height: 40px;
      width: 68%;
      display: flex;
      margin: 0 auto;
      align-items: center;
      justify-content: space-between;
      &__search {
        position: relative;
        &__input {
          height: 32px;
          width: 220px;
          border: 1px solid #DDD;
          border-radius: 3px;
          background-color: #f5f5f5;
          padding-left: 35px;
          &::placeholder {
            color: #BBB;
          }
        }
        i {
          position: absolute;
          top: 26%;
          left: 10px;
          color: #BBB;
        }
      }
      &__logo {
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 7px;
        margin-right: 40px;
        &__link {
          @include link(black)
        }
      }
      &__user {
        color: #BBB;
        font-size: 14px;
        display: flex;
        align-items: center;
        &__login {
          margin: 0 10px 0;
          display: flex;
          align-items: center;
          @include link(#666666);
          @include hover-opc(0.7);
          &--icon {
            line-height: 40px;
            font-size: 29px;
            margin-right: 8px;
          }
        }
        &__signup {
          margin-left: 10px;
          @include link(#666666);
          @include hover-opc(0.7);
        }
      }
    }
  }
  &__nav {
    height: 45px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    .navber {
      height: 100%;
      width: 52%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      &__tab {
        line-height: 45px;
        padding: 0 23px;
        @include link(#BBB);
        &:hover {
          border-bottom: 3px solid black;
        }
        &--active {
          line-height: 47px;
          padding: 0 30px;
          border-bottom: 3px solid black;
        }
      }
    }
  }
  &__main {
    background-color: menu;
    &__tab {
      height: 80px;
      display: flex;
      align-items: center;
      .switch {
        margin: 0 auto;
        &__active {
          display: inline;
          padding: 10px 37px;
          border: 1px solid #ddd;
          font-size: 13px;
          background-color: #333333;
          color: #fff;
          border-radius: 7px 0 0 7px;
        }
        &__btn {
          padding: 10px 30px;
          border: 1px solid #ddd;
          border-radius: 0 7px 7px 0;
          font-size: 13px;
          background-color: #fff;
          @include link(rgba(170,170,170,0.9));
          &:hover {
            background-color: menu;
          }
        }
      }
    }
    &__contents {
      width: 990px;
      margin: 0 auto;
      padding-top: 10px;
      display: flex;
      .left {
        width: 195px;
        &__conteinar {
          margin-bottom: 20px;
          padding-bottom: 23px;
          border-bottom: 1px solid #ddd;
          h1 {
            font-size: 19px;
            color: #333333;
          }
          .row {
            margin-top: 20px;
            &__one {
              font-size: 13px;
              @include link(#333333);
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .user {
            display: flex;
            margin-top: 20px;
            a {
              text-decoration: none;
              &:hover {
                @include hover-opc(0.8);
              }
            }
            &__icon {
              height: 32px;
              width: 32px;
              margin: 0 4px;
              border-radius: 16px;
              background-color: #333333;
            }
            &__detail {
              color: #333333;
              &__name {
                font-size: 13px;
                margin-top: 2px;
              }
              &__follower {
                font-size: 10px;
                margin-top: 3px;
              }
            }
          }
          .btn {
            margin-top: 20px;
            text-align: right;
            &__look {
              font-size: 12px;
              padding: 8px 13px;
              border: 1px solid #ddd;
              border-radius: 2px;
              background-color: #fff;
              @include link(#888);
              @include hover-opc(0.8);
            }
          }
          .text {
            margin-top: 15px;
            &__one {
              font-size: 13px;
              @include link(#333333);
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      .right {
        margin-left: 20px;
        width: (990px - 195px);
        &__conteinar {
          margin-bottom: 20px;
          .title {
            font-size: 19px;
            color: #333333;
          }
          .main {
            margin-top: 16px;
            display: flex;
            justify-content: space-between;
            .content {
              border: 1px solid #ddd;
              &__post {
                &__image {
                  width: 246px;
                  height: 328px;
                }
              }
              &__lower {
                height: 58px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 9px;
                .user {
                  display: flex;
                  &__icon {
                    @include link(#333333);
                    @include hover-opc(0.7);
                    &--image {
                      width: 32px;
                      height: 32px;
                      border-radius: 16px;
                      background-color: black;
                    }
                  }
                  &__text {
                    margin-left: 6px;
                    .name {
                      font-size: 14px;
                    }
                    .height {
                      font-size: 10px;
                      margin-top: 4px;
                    }
                  }
                }
                .follow {
                  &__btn {
                    padding: 8px 2px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 10px;
                    background-color: #2490d0;
                    border: 1px solid #1e78ad;
                    border-radius: 2px;
                    @include link(#fff);
                    @include hover-opc(0.7);
                    i {
                      margin-bottom: 4px;
                    }
                  }
                }
              }
            }
          }
          .btn {
            margin-top: 24px;
            text-align: right;
            &__look {
              font-size: 12px;
              padding: 14px 25px;
              border: 1px solid #ddd;
              border-radius: 2px;
              background-color: #fff;
              @include link(#777);
              @include hover-opc(0.7);
            }
          }
        }
      }
    }
  }
}